<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div class="content center">
        <div class="text">Forget Password </div>
      <form action="/user/sendmail" method="post">
        <div class="field">
          <input type="email" id="email"  name="email" placeholder="Enter Your Email" />
          <span class="fas fa-user"></span>
          <label for="email"></label>
        </div>
        <button class="mt">Get otp</button>
      </form>
    </div>
  </body>
</html>
