<div class="navbar">
    <ul>
      <li><a href="/product/">Products</a></li>
      <li><a href="/product/pro">Add product</a></li>
      <li><a href="/product/cart">Cart</a></li>
      <li><a href="/user/reg">Sign Up</a></li>
      <li><a href="/user/login">Login</a></li>
      <li><a href="/user/profile">Profile</a></li>
    </ul>
  </div>